*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 26px 100px;
    display: flex;
    gap: 16px;
}

header :where(input, select){
    flex: 1;
    height: 46px;
    border: 2px solid #999;
    border-radius: 5px;
    padding-left: 10px;
}

#produtos{
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#produtos .card{
    width: calc(25% - 12px);
    box-shadow: 0 5px 10px #00000025;
    border-radius: 10px;
}

#produtos .card .card-imagem{
    position: relative;
}

#produtos .card .card-imagem img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    display: block;
}

#produtos .card .card-info{
    padding: 16px;
}

#produtos .card .card-info h6{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    margin-top: 6px;
    margin-bottom: 16px;
} 